<a href="https://colab.research.google.com/github/saipavan2143/sai_workspace/blob/saipavan/iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age":  [25, 30, 35],
    "City": ["Delhi", "Mumbai", "Chennai"]
})
print("DataFrame:\n", df, "\n")

DataFrame:
       Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [ ]:
print(df.iloc[0])

Name    Alice
Age        25
City    Delhi
Name: 0, dtype: object

In [ ]:
print(df.iloc[:, 1])

0    25
1    30
2    35
Name: Age, dtype: int64

In [ ]:
print(df.iloc[0:2])

    Name  Age    City
0  Alice   25   Delhi
1    Bob   30  Mumbai